* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: break-word;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Ubuntu, sans-serif;

}

/* Navigation Bar */
.logo {
    color: rgb(117, 60, 42);
}

.nav-bar {
    background-color: #ffffff;
    width: 100%;
    position: absolute;
}

.nav {
    padding: 50px;
    align-items: center;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.nav-links>ul>li>a {
    color: rgb(117, 60, 42);
    list-style: none;
    font-size: 20px;
    text-decoration: none;
    padding: 15px;
    margin: right;
    font-weight: 700;
}

.nav-links>ul {
    align-items: center;
    display: flex;
    list-style: none;
}

.nav-links>ul>li>a:hover {
    color: #d47434;
    font-weight: 600;

}

/* Navbar Button */

.btn {
    border: none;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 700;
    padding: 15px;
    background-color: rgb(117, 60, 42);
    color: white;
    cursor: pointer;
}

#production-btn {
    color: white;
    background-color: rgb(117, 60, 42);
    border: none;
    border-radius: 20px;
    padding: 15px;
    margin-right: 12px;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}

.btn:hover {
    background-color: #d47434;
    cursor: pointer;
}

#production-btn:hover {
    background-color: #d47434;
    cursor: pointer;
}

/* Wonderland Dairy */
.header {
    height: 1050px;
    width: 80%;
    margin: auto;
    padding-top: 200px;
    overflow: hidden;
    background: #4a2c2a;
    background: linear-gradient(rgba(72, 23, 0, 0.384), rgba(192, 72, 72, 0.329)), url('/images/cow-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.wonderland {
    text-align: center;
    color: #ffffff;
}

/* Form Styling */
h1 {
    letter-spacing: -1px;
}

a {
    color: #4a2c2a;
    text-decoration: unset;
}

/* Padding Styling between labels */
.padding-top--64 {
    padding-top: 64px;
}

.padding-top--24 {
    padding-top: 24px;
}

.padding-top--48 {
    padding-top: 48px;
}

.padding-bottom--24 {
    padding-bottom: 24px;
}

.padding-horizontal--48 {
    padding: 48px;
}

.form-title {
    padding-bottom: 15px;
    text-align: center;
    font-weight: bold;
}


.flex-justifyContent--center {
    -ms-flex-pack: center;
    justify-content: center;
}

.form {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 448px;
    background: white;
    border-radius: 4px;
}

span {
    display: block;
    font-size: 20px;
    line-height: 28px;
    color: #1a1f36;
}


label {
    margin-bottom: 10px;
}

.reset-pass a,
label {
    font-size: 14px;
    font-weight: 600;
    display: block;
}

.reset-pass>a {
    text-align: right;
    margin-bottom: 10px;
}


.field input {
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: unset;
    border-radius: 4px;
    outline-color: rgba(212, 131, 84, 0.5);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

input[type="button"] {
    background-color: rgb(117, 60, 42);
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #d47434;
    cursor: pointer;
}

.reset-field {
    justify-content: center;
}

#resetMe {
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 600;
    padding: 15px;
    background-color: rgb(117, 60, 42);
    color: white;
    cursor: pointer;
}

#resetMe:hover {
    background-color: #d47434;
    cursor: pointer;
}

/* Output & Summary */
.output {
    margin-top: 50px;
    margin-left: 190px;
    margin-right: auto;
    width: 35%;
    justify-content: center;
    align-items: center;
    background: rgb(117, 60, 42);
    color: #ffffff;
    border-radius: 4px;
    margin-bottom: 40px;
    padding: 30px;
}
.output h1 {
    font-size: xx-large;

}
.output p{
    line-height: 30px;
    font-size: large;
    font-weight: 700;
    color: #ffffff;
}

/* Foooter link styling */
.footer-link span {
    font-size: 18px;
    text-align: center;
}

.listing a {
    color: #ffffff;
    font-weight: 600;
    margin: 0 10px;
}

/* copyright section */
.flex-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.center-center {
    align-items: center;
    justify-content: center;
}